@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

button {

    display: inline-block; /* Ou use block para comportamento de bloco */
    padding: 5px 5px; /* Padding interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remover borda padrão */
    background-color: #2d5e92; /* Cor de fundo */
    color: rgb(255, 255, 255); /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-radius: 10px; /* Borda arredondada */
    transition: background-color 0.2s; /* Transição suave para a cor de fundo */
    min-width:  50px; /* Defina uma largura mínima */
    text-align: center; /* Centralizar o texto dentro do botão */
    font-family: "Montserrat", sans-serif; 
    
}

form{
    background-color: #acc4df;
    border-radius: 10px;
    min-height: 150px;
}

.card{
    background-color: #d0dff0;
}

h5 {
    text-align: center;
    padding: 5px;
    font-family: "Montserrat", sans-serif; 
}

.row {
    padding: 10px;
}

.tipoTarefa {
    display: flex;
    margin-left: -280px; 
    border: none;
}

.realizado {
    display: flex;
    margin-left: 90px; 
    border: none;
}

.details {
    background-color: #f9f9f9;
  }
  
.details td {
    padding: 10px;
}

#delete-item {
    padding: 10px;
}


