<div class="container">

      <form>
          <div class="card">
              <div class="card-header">
                  <!--<h5>{{ idTarefa ? 'Editar' : 'Nova' }} vacina</h5>-->
              </div>
              <div class="card-header">
                  <div class="row">
                      <div class="form-group col-md-3">
                          <label for="nomeVacina">ooo:</label>
                          <input class="form-control" name="nome"   required>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="nomePesquisador">ooo:</label>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="nomeVacina" >ooo: </label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-1 ">
                          <label>&nbsp;</label>
                          <button type="button" class="btn btn-outline-success" >Salvar</button>
                      </div>
                      <div class="form-group col-md-1 ">
                          <label>&nbsp;</label>
                          <button type="button" class="btn btn-outline-warning" >Voltar</button>
                      </div>
  
                  </div>
              </div>
          </div>
      </form>
  </div>
  