<div class="container">
    <div class="card custom-border">
      <div class="card-header">
        <h5>Filtros</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4">
              <label for="nome">Nome tarefa:</label>
              <input type="text" id="nomeTarefa" class="form-control" name="nomeTarefa"
              [(ngModel)]="seletor.nomeTarefa" />
            </div>
            <div class="col-md-4">
              <label for="nome">Tipo tarefa:</label>
              <!--<input type="text" id="nome" class="form-control" name="nomePais" > -->
              <!--<select class="form-control custom-border" name="tipoTarefa">
                @for (pais of paises; track pais.idPais) {
                <option ngValue="{{ pais.nomePais }}">
                  {{ pais.nomePais }} ({{ pais.sigla }})</option>
                }
              </select>-->
            </div>
            <!--  -->
            <div class="col-md-4">
              <label for="nome">Realizada:</label>
              <input type="text" id="nome" class="form-control" name="nomePesquisador" [(ngModel)]="seletor.realizado" >
              <!-- <select class="form-control custom-border" name="realizado" >
                @for (pessoa of pesquisadores; track pessoa.id) {
                <option value="{{ pessoa.nome }}">{{ pessoa.nome }}</option>
                }
              </select> -->
            </div>
            <div class="row">
              <div class="col-md-16 form-group">
                <label for="btnPesquisar" class="form-label">&nbsp;</label>
                <button type="button" class="btn btn-outline-secondary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  name="btnPesquisar" (click)="pesquisar()">
                  Pesquisar
                </button>
                <label for="btnLimpar" class="form-label">&nbsp;</label>
                <button type="button" class="btn btn-outline-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  (click)="limpar()">
                  Limpar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br><br>
    <div>
      <table class="table table-striped border">
        <thead>
          <tr>
            <th class="text-center">Nome da tarefa:</th>
            <th class="text-center">Tipo da tarefa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarefa of tarefas">
            <td class="text-center" >{{ tarefa.nomeTarefa }}</td>
            <td class="text-center">{{ tarefa.tipoTarefa }}</td>
            <!-- <td> {{ vacina.mediaVacina }} </td> -->
            <td>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                <button class="btn btn-outline-success">Editar</button>
                <button class="btn btn-outline-danger" >Excluir</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>